@import './../../../styles.scss';

:host {
    @include dFlex($ai: flex-start);
    padding: 27.8rem 0 12.8rem 0;
    position: inherit;
    z-index: 6;
}

section {
    @include dFlex($fd: column);
    max-width: 144rem;
    .header_wrapper {
        @include dFlex($jc: space-between);
        width: 100%;
        margin-bottom: 9rem;
        h1 {
            font-size: 9rem;
            max-width: 60rem;
            flex-grow: 1;
        }
        div {
            flex-grow: 1;
            max-width: 67rem;
        }
    }
    .contact_content {
        @include dFlex($jc: space-between, $ai: flex-start);
        .description_container {
            @include dFlex($fd: column, $ai: flex-start, $g: 3.2rem);
            max-width: 60rem;
            h2 {
                font-size: 3.2rem;
            }
            p {
                font-size: 16px;
                b {
                    font-size: 16px;
                }
            }
        }
    }
}

.form_element_wrapper {
    margin-bottom: 2.4rem;
    input[type=text],[type=email], textarea {
        width: 100%;
        padding: 1.5rem 2.5rem;
        border: 1px solid $purple;
        border-radius: 1rem;
        resize: vertical;
        font-size: 16px;
        color: whitesmoke;
        background-color: transparent;
        margin-bottom: 0.8rem;
        padding-right: 12%;
        transition: all 0.25s;
        &::placeholder {
            color: whitesmoke;
            opacity: 1;
        }
        &:hover {
            border: 1px solid #1CE6B6;
        }
        &:focus-visible {
            border: 1px solid $purple;
            outline: none;
        }
    }
    textarea {
        height: 20rem;
        &::-webkit-resizer {
            background-image: url(./../../../assets/img/textarea_resize_handle.png);
            background-repeat: no-repeat;
        }
    }
}

.valid {
    border: 1px solid #70E61C !important;
    background-image: url(./../../../assets/img/valid.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

.invalid {
    border: 1px solid #E61C40 !important;
    background-image: url(./../../../assets/img/invalid.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

.submit_wrapper {
    @include dFlex();
    margin-bottom: 5rem;
    button[type=submit] {
      background-color: $light_blue;
      color: white;
      padding: 1.5rem 3rem;
      border: none;
      border-radius: 1rem;
      cursor: pointer;
      font-size: 2.3rem;
      transition: all 0.1s;
      &:enabled:hover {
        padding: 2rem 4rem;
        margin: 0 -1rem -1rem -1rem;
    }
      &:disabled {
        background-color: #B6B6B6;
      }
    }
}

input[type=checkbox] {
    @include wh(30px, 30px);
    min-width: 30px;
    appearance: none;
    background-image: url(./../../../assets/img/checkbutton_default.png);
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    margin-right: 0.8rem;
    transition: all 0.1s;
    &:hover {
        cursor: pointer;
        background-image: url(./../../../assets/img/checkbutton_default_hover.png);
    }
    &:checked {
        background-image: url(./../../../assets/img/checkbutton_checked.png);
    }
    &:checked:hover {
        background-image: url(./../../../assets/img/checkbutton_checked_hover.png);
    }
    
}

.ckeckbox_wrapper {
    @include dFlex($jc: flex-start, $ai: center);
    margin-bottom: 3.2rem;
    span {
        font-size: 16px;
        a {
            font-size: 16px;
            color: $purple;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.go_up {
    width: 100%;
    @include dFlex($jc: flex-end);
    span {
        @include dFlex();
        @include wh(40px, 40px);
        font-size: 24px;
        border: 2px solid whitesmoke;
        border-radius: 50%;
        transition: all 0.1s;
        &:hover {
            color: $light_blue;
            border: 2px solid $light_blue;
        }
    }
}

.separator_line {
    @include separatorLine();
    margin-right: 32px;
    margin-top: 6.5rem;
    border-radius: 0 2px 2px 0;
}

.buffer_container {
    min-width: 100px;
}

.error_message {
    font-size: 16px;
    color: #E61C40;
    transform: translateY(3.2rem);
}

@media screen and (max-width: 1000px) {
    
    section > .contact_content {
        @include dFlex($fd: column, $ai: flex-start, $g: 6.4rem);
    }

    .submit_wrapper {
        button[type=submit] {
            font-size: 23px;
            padding: 15px 30px;
            border-radius: 10px;
            &:enabled:hover {
                margin: 0 -10px -10px -10px;
                padding: 20px 40px;
            }
        }
    }
}

@media screen and (max-width: 600px) {

    section > .contact_content > .description_container > p {
        font-size: 12px;
        b {
            font-size: 12px;
        }
    }

    .form_element_wrapper {
        input[type=text],[type=email], textarea {
            font-size: 12px;
        }
    }

    .ckeckbox_wrapper > span {
        font-size: 12px;
        a {
            font-size: 12px;
        }
    }
    
    
    .submit_wrapper {
        button[type=submit] {
            font-size: 16px;
            padding: 10.5px 21px;
            border-radius: 7px;
            &:enabled:hover {
                margin: 0 -7px -7px -7px;
                padding: 14px 28px;
            }
        }
    }

    .separator_line {
        min-width: 20px;
    }

    .buffer_container {
        min-width: 20px;
    }
}

@media screen and (max-width: 600px) {

    .submit_wrapper {
        margin-bottom: 15rem;
    }
}