<div class="separator_line"></div>
<section>
    <div class="header_wrapper">
        <h1>Contact</h1>
        <div></div>
    </div>
    <div class="contact_content">
        <div class="description_container">
            <h2>Got a Problem to solve?</h2>
            <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>
            <p>Need a Frontend developer? <b>Contact me!</b></p>
        </div>
        <div class="form_container">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="form_element_wrapper">
                    <input [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your name" required #name="ngModel">
                    @if (!name.valid && name.touched) {
                        <span class="error_message">Please enter a name</span>
                    }
                </div>
                <div class="form_element_wrapper">
                    <input [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="Your mail" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" #email="ngModel">
                    @if (!email.valid && email.touched) {
                        <span class="error_message">Please enter a email</span>
                    }
                </div>
                <div class="form_element_wrapper">
                    <textarea [(ngModel)]="contactData.message" minlength="4" id="message" name="message" placeholder="Your message" required #message="ngModel"></textarea>
                    @if (!message.valid && message.touched) {
                    <span class="error_message">Please enter a message</span>
                    }
                </div>
                <div class="ckeckbox_wrapper">
                    <input [(ngModel)]="checkbox" type="checkbox" id="checkbox" name="checkbox" required #checkbox="ngModel">
                    <label for="checkbox">I've read the <a href="privacy">privacy policy</a> and agree to the processing of my data as outlined.</label>
                    @if (!checkbox.valid && checkbox.touched) {
                        <span class="error_message">Please agree to the privacy policy</span>
                    }
                </div>
                <div class="submit_wrapper">
                    <input type="submit" value="Send message :)">
                </div>
            </form>
            <a href="#" style="position: relative; left: calc(100% - 4rem);"><img src="/assets/img/go_up.png" alt=""></a>
        </div>
    </div>
</section>
<div class="buffer_container"></div>
