@import './../../../styles.scss';

:host {
    @include dFlex($ai: flex-start);
    padding-top: 27.8rem;
}

section {
    @include dFlex($fd: column, $ai: space-between);
    max-width: 144rem;
    .header_wrapper {
        @include dFlex($jc: space-between);
        width: 100%;
        margin-bottom: 9rem;
        h1 {
            font-size: 9rem;
            max-width: 60rem;
            flex-grow: 1;
        }
        div {
            flex-grow: 1;
            max-width: 67rem;
        }
    }
    .contact_content {
        @include dFlex($jc: space-between, $ai: flex-start);
        .description_container {
            @include dFlex($fd: column, $ai: flex-start, $g: 3.2rem);
            max-width: 60rem;
            h2 {
                font-size: 3.2rem;
            }
            p {
                font-size: 1.6rem;
                b {
                    font-size: 1.6rem;
                }
            }
        }

    }
}

.form_element_wrapper {
    margin-bottom: 2.4rem;
    input[type=text],[type=email], textarea {
        width: 100%;
        padding: 1.5rem 2.5rem;
        border: 1px solid #4B47FF;
        border-radius: 1rem;
        resize: vertical;
        font-size: 1.6rem;
        color: whitesmoke;
        background-color: transparent;
        margin-bottom: 0.8rem;
        padding-right: 12%;
        transition: all 0.25s;
        &::placeholder {
            color: whitesmoke;
            opacity: 1;
        }
        &:hover {
            border: 1px solid #1CE6B6;
        }
        &:focus-visible {
            border: 1px solid #4B47FF;
            outline: none;
        }
    }
    textarea {
        height: 20rem;
        &::-webkit-resizer {
            background-image: url(./../../../assets/img/textarea_resize_handle.png);
            background-repeat: no-repeat;
        }
    }
}

.valid {
    border: 1px solid #70E61C !important;
    background-image: url(./../../../assets/img/valid.png);
    background-position: 95% 1.6rem;
    background-repeat: no-repeat;
}

.invalid {
    border: 1px solid #E61C40 !important;
    background-image: url(./../../../assets/img/invalid.png);
    background-position: 95% 1.6rem;
    background-repeat: no-repeat;
}

.submit_wrapper {
    @include dFlex();
    margin-bottom: 5rem;
    button[type=submit] {
      background-color: #00BEE8;
      color: white;
      padding: 1.5rem 3rem;
      border: none;
      border-radius: 4px;
      margin-bottom: 1rem;
      cursor: pointer;
      font-size: 1.6rem;
      transition: all 0.1s;
      &:enabled:hover {
        padding: 2rem 4rem;
        margin-bottom: 0rem;
      }
      &:disabled {
        background-color: #B6B6B6;
      }
    }
}

input[type=checkbox] {
    @include wh(3rem, 3rem);
    appearance: none;
    background-image: url(./../../../assets/img/checkbutton_default.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.8rem;
    transition: all 0.1s;
    &:hover {
        cursor: pointer;
        background-image: url(./../../../assets/img/checkbutton_default_hover.png);
    }
    &:checked {
        background-image: url(./../../../assets/img/checkbutton_checked.png);
    }
    &:checked:hover {
        background-image: url(./../../../assets/img/checkbutton_checked_hover.png);
    }
    
}

.ckeckbox_wrapper{
    @include dFlex($jc: flex-start, $ai: flex-start);
    margin-bottom: 3.2rem;
    span {
        font-size: 1.6rem;
        a {
            font-size: 1.6rem;
            color: #4B47FF;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.go_up {
    width: 100%;
    @include dFlex($jc: flex-end);
    span {
        @include dFlex();
        @include wh(4rem, 4rem);
        font-size: 2.4rem;
        border: 0.2rem solid whitesmoke;
        border-radius: 50%;
        transition: all 0.1s;
        &:hover {
            color: #00BEE8;
            border: 0.2rem solid #00BEE8;
        }
    }
}

.buffer_container {
    flex-grow: 1;
}

.separator_line {
    @include separatorLine();
    min-width: 10rem;
    flex-grow: 1;
    margin-right: 3.2rem;
    margin-top: 6.7rem;
    border-radius: 0 0.2rem 0.2rem 0;
}

.error_message {
    font-size: 1.6rem;
    color: #E61C40;
    transform: translateY(3.2rem);
}