<section class="aot_main">
    <div class="selfie_container">
       <img src="./assets/img/me.png" alt=""> 
    </div>
    <div class="i_am_container">
        <div class="healine_wrapper">
            <h3>I am</h3>
            <div>
                <h1>Simon Kral</h1>
                <h2>FRONTEND DEVELOPER</h2>
            </div>
        </div>
        <a href="#contact">Let's talk!</a>
    </div>
</section>
<div class="frame">
    <img src="./assets/img/frames/frame1.png" alt="">
</div>
<div class="nav_wrapper">
    <div class="separator_line"></div>
    <section class="aot_contact">
            <nav>
                <a href="https://github.com/Simon-Kral" target="_blank">
                    <img src="./assets/img/github.png" alt="">
                </a>
                <a href="#contact">
                    <img src="./assets/img/contact.png" alt="">
                </a>
                <a href="https://www.linkedin.com/in/simon-kral-0732a1282/" target="_blank">
                    <img src="./assets/img/linkedIn.png" alt="">
                </a>
                <a href="mailto:simonkral92@googlemail.com">
                    <p>simonkral92&#64;gmail.com</p>
                </a>
            </nav>
            <p class="rotate">Scroll down! →</p>
    </section>
    <div class="buffer_container"></div>
</div>