@import './../../../styles.scss';

:host {
    @include dFlex($fd: column, $jc: space-between);
    height: calc(100vh - $header_height);
}

.aot_main {
    @include dFlex();
}

.selfie_container {
    background-image: url('./../../../assets/img/shadows/shadow5.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -15;
    img {
        @include wh(42rem, auto);
        z-index: -20;
    }
}

.i_am_container {
    @include dFlex($g: 4.2rem);
    flex-direction: column;
    margin-left: -5rem;
    margin-bottom: 16rem;
    .healine_wrapper {
        @include dFlex();
        h1 {
            font-size: 9rem;
            letter-spacing: 1.3rem;
            line-height: 10.8rem;
            text-wrap: nowrap;
        }
        h2 {
            font-size: 5.8rem;
            color: #4B47FF;
            font-weight: 400;
            line-height: 6.96rem;
            text-wrap: nowrap;
        }
        h3 {
            font-size: 6.4rem;
            font-weight: 400;
            letter-spacing: 0.3rem;
            rotate: -90deg;
            line-height: 7.68rem;
            text-wrap: nowrap;
        }
    }
    a {
        font-size: 2.3rem;
        color: white;
        background-color: #00BEE8;
        border: none;
        padding: 1.5rem 3rem;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:hover {
            margin-bottom: -1rem;
            background-color: #4B47FF;
            padding: 2rem 4rem;
        }
    }
}

.frame {
    width: 100%;
    height: 107.9rem;
    position: absolute;
    top: 85%;
    z-index: -15;
    img{
        transform: translateY(-39%);
        width: 100%;
        height: 1079px;
    }
}

.nav_wrapper {
    @include dFlex($jc: flex-start);
    width: 100%;
    flex-grow: 1;
    .separator_line {
        @include separatorLine();
        min-width: 10rem;
        border-radius: 0 0.2rem 0.2rem 0;
        flex-grow: 1;
    }
    .aot_contact {
        @include dFlex($jc: space-between);
        max-width: 144rem;
        nav {
            @include dFlex();
            a {
                @include dFlex();
                margin-left: 4.2rem;
                img {
                    width: 3rem;
                }
            }
        }
        .rotate {
            rotate: 90deg;
            font-size: 2.3rem;
            transform: translateX(-50%);
            animation: jump_vertical 2s ease infinite;
        }
    }
    .buffer_container {
        flex-grow: 1;
    }
}




@media only screen and (min-height: 1000px) {
    .aot_main {
        @include dFlex($jc: space-around);
        flex-grow: 1;
    }
    .nav_wrapper {
        max-height: 15%;
    }
    .frame {
        position: absolute;
        top: 62%;
    }
}