@import './../../../styles.scss';

:host {
    @include dFlex($fd: column);
    height: calc(100vh - $header_height);
}

.aot_main {
    @include dFlex($jc: space-around);
    position: relative;
    padding: 0 5%;
}


.selfie_container {
    position: relative;
    max-width: 40%;
    img {
        position: inherit;
        z-index: 2;
        &.me {
            @include wh(100%, 100%);
            object-fit: cover;
            max-height: calc(80vh - $header_height - 6.4rem);
        }
        &.shadow {
            @include wh(200%, auto);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
}

.i_am_container {
    @include dFlex($g: 4.2rem);
    flex-direction: column;
    margin-bottom: 16rem;
    z-index: 6;
    .healine_wrapper {
        @include dFlex();
        h1 {
            font-size: 9rem;
            letter-spacing: 1.3rem;
            line-height: 10.8rem;
            text-wrap: nowrap;
        }
        h2 {
            font-size: 5.8rem;
            color: $purple;
            font-weight: 400;
            line-height: 6.96rem;
            text-wrap: nowrap;
        }
        h3 {
            font-size: 6.4rem;
            writing-mode: vertical-rl;
            margin-right: 1.6rem;
            font-weight: 400;
            rotate: 180deg;
            line-height: 7.68rem;
            text-wrap: nowrap;
        }
    }
    a {
        background-color: $light_blue;
        &:hover {
            background-color: $purple;
        }
    }
}

.nav_wrapper {
    @include dFlex($jc: flex-start);
    width: 100%;
    flex-grow: 1;
    z-index: 6;
    .separator_line {
        border-radius: 0 2px 2px 0;
        flex-grow: 1;
    }
    .aot_contact {
        @include dFlex($jc: space-between);
        max-width: 144rem;
        nav > .social_button > img:hover {
            margin-top: -10px;
            }
        .rotate {
            rotate: 90deg;
            font-size: 2.3rem;
            transform: translateX(-50%);
            animation: jump_vertical 2s ease infinite;
        }
    }
}

.frame {
    width: 100vw;
    height: 107.9rem;
    position: absolute;
    top: 90%;
    z-index: 2;
    img{
        position: relative;
        transform: translateY(-39%);
        width: 100%;
        height: 1079px;
    }
}

.german {
    font-size: 4.6rem !important;
    letter-spacing: 0 !important;
}

@media screen and (max-width: 1200px) {
    .selfie_container {
        max-width: 80%;
        @include dFlex();
        img.me {
            max-height: calc(65vh - $header_height - 6.4rem);
        }
    }
}

@media screen and (max-width: 1000px) {

    .i_am_container {
        margin-bottom: 0;
        margin-left: 0;
        gap: 2.4rem;
    }

    .nav_wrapper {
        flex-grow: 2;
    }
}

@media screen and (max-width: 850px) {

    .aot_main {
        @include dFlex($fd: column, $g: 0);
    }

    .selfie_container {
        max-width: 95%;
        @include dFlex();
        img.me {
            max-height: calc(65vh - $header_height - 6.4rem);
        }
    }

    .frame {
        height: calc(107.9rem / 2);
        top: auto;
        bottom: -50rem;
        img{
            height: calc(107.9rem / 2);
        }
    }

    .nav_wrapper {
        @include dFlex($g: 42px);
        .aot_contact {
        width: auto;
        justify-content: center;
        }
        :first-child {
            margin-left: 0;
        }
    }
}