@import './../../../styles.scss';

:host {
    @include dFlex();
    width: 100%;
    z-index: 100;
}
    
header {
    width: 100%;
    max-width: 192rem;
    nav {
        height: $header_height;
        padding: 4rem 10rem;
        @include dFlex($jc: space-between);
        .back_to_top {
            height: 3.5rem;
        }
        div {
            display: flex;
            gap: 3rem;
            a {
                position: relative;
                display: inline-block;
                &:before {
                    position: absolute;
                    left: 0;
                    bottom: -0.2rem;
                    display: block;
                    width: 0;
                    height: 0.3rem;
                    content: "";
                    background: #4B47FF;
                    border-radius: 0 0.15rem 0.15rem 0;
                    transition: width 0.5s;
                }
                &:hover{
                    color: #00BEE8;
                    transition: 0.1s ease-in-out;
                    &:before {
                        width: 5.5rem;
                        transition: width 0.2s;
                    }
                }
            }
        }
    }
}