@import './../../../../styles.scss';


.characteristic_entry {
    @include dFlex($ai: flex-start, $g: 3.2rem);
    margin-left: 3.2rem;
    .img_wrapper {
        min-width: 50px;
        img:hover {
            animation: jump 1.2s ease infinite;
        }
    }
    p {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .characteristic_entry {
        .img_wrapper {
            min-width: 5rem;
            img {
                width: 5rem;
            }
        }
        p {
            font-size: 12px;
        }
    }
}