<div class="buffer_container"></div>
<section>
    <div class="text_wrapper">
        <h1 data-aos="fade-left">{{ 'aboutMe.header' | translate }}</h1>
        <p data-aos="fade-right">{{ 'aboutMe.description' | translate }}</p>
        <app-characteristics *ngFor="let entry of entries; let i = index" [icon]="entries[i].icon" [description]="entries[i].description" data-aos="fade-right"></app-characteristics>
    </div>
    <div class="selfie_container hide_mobile" data-aos="fade-left">
        <img src="./assets/img/face.png" alt="">
    </div>
</section>
<div class="separator_line hide_mobile"></div>
<div class="buffer_container show_mobile"></div>