<div class="buffer_container"></div>
<section>
    <div class="skill_list">
        <app-skills *ngFor="let entry of skillList; let i = index" [icon]="skillList[i].icon" [skill]="skillList[i].skill"></app-skills>
    </div>
    <div class="text_wrapper">
        <h1>My skills</h1>
        <p>I have grown my frontend developments skills that have allowed me to create different real projects.</p>
        <button>Get in touch</button>
    </div>
</section>
<div class="separator_line"></div>
<img src="./assets/img/shadows/shadow3.png" alt="">