@import './../../../styles.scss';

:host {
    padding-top: 27.8rem;
    @include dFlex($g: 4.2rem);
    position: inherit;
    z-index: 6;
}

section {
    @include dFlex($jc: space-between, $g: 6.4rem);
    .skill_list {
        @include dFlex($jc: flex-start, $g: 8rem 14rem);
        flex-wrap: wrap;
        width: 100%;
        max-width: 91rem;
    }
    .text_wrapper {
        @include dFlex($fd: column, $g: 3.2rem);
        text-align: right;
        h1 {
            width: 100%;
            font-size: 9rem;
        }
        p {
            font-size: 16px;
            height: 6.2em;
        }

    }
}

a {
    background-color: $light_blue;
    &:hover {
        background-color: $purple;
    }
}

.separator_line {
    border-radius: 2px 0 0 2px;
    margin-top: -23rem;
    min-width: calc(100px - 4.2rem);
}

.buffer_container {
    min-width: calc(100px - 4.2rem);
}



@media screen and (max-width: 1200px) {
    .separator_line {
        border-radius: 2px 0 0 2px;
        margin-top: -25rem;
    }
}

@media screen and (max-width: 1000px) {
    .separator_line {
        border-radius: 2px 0 0 2px;
        margin-top: -29rem;
    }
}

@media screen and (max-width: 850px) {

    :host {
        @include dFlex($ai: flex-start, $g: 4.2rem);
        position: inherit;
        z-index: 6;
    }

    section {
        @include dFlex($fd: column, $ai: flex-end, $g: 64px);
        .skill_list {
            order: 2;
            max-width: 100%;
            justify-content: center;
        }
        .text_wrapper {
            order: 1;
        }
    }

    .separator_line {
        margin-top: 6.4rem;
    }

    .contact_button {
        order: 3;
        width: 100%;
        display: flex !important;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {

    section {
        @include dFlex($fd: column, $ai: flex-end, $g: 6.4rem);
        .text_wrapper > p {
            font-size: 12px;
        }
    }

    .separator_line {
        min-width: 20px;
    }

    .buffer_container {
        min-width: 20px;
    }
}