@import './../../../../styles.scss';

.project {
    @include dFlex($g: 12.8rem);
    .img_wrapper {
        @include dFlex();
        min-width: calc(50% - 6.4rem);
        &.img_left {
            justify-content: flex-end;
        }
        &.img_right {
            justify-content: flex-start;
        }
    }
    .description_container {
        min-width: calc(50% - 6.4rem);
        .text_wrapper {
            h3 {
                font-size: 32px;
                font-weight: 700;
                color: $purple;
            }
            h4 {
                font-size: 23px;
                font-weight: 400;
                color: $light_blue;
            }
            p {
                font-size: 16px;
            }
        }
        .button_wrapper {
            width: 100%;

            :first-child {
                background-color: $purple;
                &:hover {
                    background-color: $light_blue;
                }
            }
            :nth-child(2) {
                background-color: transparent;
                border: 0.1rem solid $light_blue;
                &:hover {
                    background-color: $light_blue;
                }
            }
        }
    }
    .text_right {
        @include dFlex($fd: column, $g: 3.2rem);
        .text_wrapper {
            @include dFlex($fd: column, $ai: flex-start, $g: 1.6rem);
            text-align: start;
        }
        .button_wrapper {
            @include dFlex($jc: flex-start, $g: 8.6rem);
        }
    }
    .text_left {
        @include dFlex($fd: column, $g: 3.2rem);
        .text_wrapper {
            @include dFlex($fd: column, $ai: flex-end, $g: 1.6rem);
            text-align: end;
        }
        .button_wrapper {
            @include dFlex($jc: flex-end, $g: 8.6rem);
        }
    }
}

@media screen and (max-width: 1200px) {
    .project > .img_wrapper > img {
            width: 360px;
        }
}

@media screen and (max-width: 850px) {

    .project {
        @include dFlex($fd: column, $g: 6.4rem);
        .img_wrapper > img {
            width: auto;
        }
        .description_container {
            .button_wrapper {
                @include dFlex($jc: center, $g: 8.6rem);
            }
        }
        .text_right {
            .text_wrapper {
                @include dFlex($fd: column, $g: 1.6rem);
                max-width: 100%;
                text-align: center;
            }
        }
        .text_left {
            .text_wrapper {
                @include dFlex($fd: column, $g: 1.6rem);
                max-width: 100%;
                text-align: center;
            }
        }
    }

    .img_left {
        display: block !important;
    }

    .img_right {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {

    .project {
        .img_wrapper > img {
            width: 280px;
        }
        .description_container {
            .text_wrapper {
                max-width: 300px;
                h3 {
                    font-size: 24px;
                }
                h4 {
                    font-size: 17px;
                }
                p {
                    font-size: 12px;
                }
            }
        }
    }
}