<div class="project">
    @if(this.isEven(i)) {
        <img src="{{ img }}" alt="">
    }
    <div class="description_container" [ngClass]="{'text_right': this.isEven(i), 'text_left': this.isOdd(i)}">
        <div class="text_wrapper">
            <h3>{{ title }}</h3>
            <h4>{{ type }}</h4>
            <p>{{ description }}</p>
        </div>
        <div class="button_wrapper">
            <a href="{{ url }}" target="_blank">Live test</a>
            <a href="{{ github }}" target="_blank">Github</a>
        </div>
    </div>
    @if(this.isOdd(i)) {
        <img src="{{ img }}" alt="">
    }
</div>