<section>
    <h1>{{ 'privacy.h1' | translate }}</h1>
    <h2>{{ 'privacy.h2_1' | translate }}</h2>
    <h3>{{ 'privacy.h3_1' | translate }}</h3>
    <p>{{ 'privacy.p_1' | translate }}</p>
    <h3>{{ 'privacy.h3_2' | translate }}</h3>
    <h4>{{ 'privacy.h4_1' | translate }}</h4>
    <p>{{ 'privacy.p_2' | translate }}</p>
    <h4>{{ 'privacy.h4_2' | translate }}</h4>
    <p>{{ 'privacy.p_3' | translate }}</p>
    <p>{{ 'privacy.p_4' | translate }}</p>
    <h4>{{ 'privacy.h4_3' | translate }}</h4>
    <p>{{ 'privacy.p_5' | translate }}</p>
    <h4>{{ 'privacy.h4_4' | translate }}</h4>
    <p>{{ 'privacy.p_6' | translate }}</p>
    <p>{{ 'privacy.p_7' | translate }}</p>
    <h2>{{ 'privacy.h2_2' | translate }}</h2>
    <p>{{ 'privacy.p_8' | translate }}</p>
    <h3>{{ 'privacy.h3_3' | translate }}</h3>
    <p>{{ 'privacy.p_9' | translate }} <a href="https://all-inkl.com/datenschutzinformationen/" target="_blank" rel="noopener noreferrer">https://all-inkl.com/datenschutzinformationen/</a>{{ 'privacy.p_9_1' | translate }}</p>
    <p>{{ 'privacy.p_10' | translate }}</p>
    <h2>{{ 'privacy.h2_3' | translate }}</h2>
    <h3>{{ 'privacy.h3_4' | translate }}</h3>
    <p>{{ 'privacy.p_11' | translate }}</p>
    <p>{{ 'privacy.p_12' | translate }}</p>
    <p>{{ 'privacy.p_13' | translate }}</p>
    <h3>{{ 'privacy.h3_5' | translate }}</h3>
    <p>{{ 'privacy.p_14' | translate }}</p><br/>
    <p>Simon Kral<br/>
        Dellegarten 1<br/>
        56727 Reudelsterz</p><br/>
    <p>E-Mail: kontakt&#64;simon-kral.de</p><br/>
    <p>{{ 'privacy.p_15' | translate }}</p>
    <h3>{{ 'privacy.h3_6' | translate }}</h3>
    <p>{{ 'privacy.p_16' | translate }}</p>
    <h3>{{ 'privacy.h3_7' | translate }}</h3> 
    <p>{{ 'privacy.p_17' | translate }}</p>
    <h3>{{ 'privacy.h3_8' | translate }}</h3> 
    <p>{{ 'privacy.p_18' | translate }}</p>
    <h3>{{ 'privacy.h3_9' | translate }}</h3> 
    <p>{{ 'privacy.p_19' | translate }}</p>
    <h3>{{ 'privacy.h3_10' | translate }}</h3>
    <p>{{ 'privacy.p_20' | translate }}</p>
    <p>{{ 'privacy.p_21' | translate }}</p>
    <h3>{{ 'privacy.h3_11' | translate }}</h3> 
    <p>{{ 'privacy.p_22' | translate }}</p>
    <h3>{{ 'privacy.h3_12' | translate }}</h3> 
    <p>{{ 'privacy.p_23' | translate }}</p>
    <h3>{{ 'privacy.h3_13' | translate }}</h3> 
    <p>{{ 'privacy.p_24' | translate }}</p>
    <h3>{{ 'privacy.h3_14' | translate }}</h3> 
    <p>{{ 'privacy.p_25' | translate }}</p>
    <ul>
        <li>{{ 'privacy.li_1' | translate }}</li>
        <li>{{ 'privacy.li_2' | translate }}</li>
        <li>{{ 'privacy.li_3' | translate }}</li>
        <li>{{ 'privacy.li_4' | translate }}</li>
    </ul>
    <p>{{ 'privacy.p_26' | translate }}</p>
    <h3>{{ 'privacy.h3_15' | translate }}</h3> 
    <p>{{ 'privacy.p_27' | translate }}</p>
    <p>{{ 'privacy.p_28' | translate }}</p>
    <h2>{{ 'privacy.h2_4' | translate }}</h2>
    <h3>{{ 'privacy.h3_16' | translate }}</h3> 
    <p>{{ 'privacy.p_29' | translate }}</p>
    <p>{{ 'privacy.p_30' | translate }}</p>
    <p>{{ 'privacy.p_31' | translate }}</p>
    <h3>{{ 'privacy.h3_17' | translate }}</h3> 
    <p>{{ 'privacy.p_32' | translate }}</p>
    <p>{{ 'privacy.p_33' | translate }}</p>
    <p>{{ 'privacy.p_34' | translate }}</p>
    <p>{{ 'privacy.p_35' | translate }}<a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
</section>