<div class="separator_line"></div>
<footer>
    <nav>
        <a href="#">
            <img src="assets/img/name.png" alt="" class="back_to_top">
        </a>
        <span>&#169; Simon Kral 2024</span>
        <div class="social_wrapper">
            <a href="https://github.com">
                <img src="./assets/img/github.png" alt="">
            </a>
            <a href="https://github.com">
                <img src="./assets/img/contact.png" alt="">
            </a>
            <a href="https://www.linkedin.com/in/simon-kral-0732a1282/">
                <img src="./assets/img/linkedIn.png" alt="">
            </a>
        </div>
    </nav>
    <a href="imprint">
        <span>Imprint</span>
    </a>
</footer>