@import './../../../styles.scss';

:host {
    @include dFlex($fd: column);
    width: 100%;
    z-index: 99;
    background-color: $dark_blue;
}

.footer_wrapper {
    @include dFlex();
    width: 100%;
}

footer {
    @include dFlex($fd: column, $ai: flex-start);
    width: 100%;
    max-width: 192rem;
    height: 200px;
    nav {
        @include dFlex($jc: space-between);
        width: 100%;
        .back_to_top {
            height: 42px;
            transition: all 0.1s;
            &:hover {
            filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.4));
            }
        }
        .imprint_wrapper {
            @include dFlex($fd: column, $ai: flex-start);
        }
        span {
            font-size: 23px;
        }
        .social_wrapper {
            @include dFlex();
        }
    }
    span {
        font-size: 16px;
    }
}

.separator_line {
    background-color: $light_blue;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    footer {
        @include dFlex($fd: column, $g: 32px);
        height: 300px;
        nav {
            @include dFlex($fd: column, $g: 24px);
            .social_wrapper {
                @include dFlex($g: 42px)
            }
            .social_button {
                margin-left: 0;
                img:hover {
                    margin: -5px -5px;
                }
            }
        }
    }
}