<div class="head_wrapper">
    <div class="buffer_container"></div>
    <section class="portfolio_head" data-aos="fade-left">
        <div class="headline_wrapper">
            <div class="separator_line"></div>
            <h1>Portfolio</h1>
        </div>
    </section>
    <div class="separator_line"></div>
</div>
<h2>{{ 'portfolio.description' | translate }}</h2>
<section class="projects_wrapper">
    <app-projects
        *ngFor="let entry of projectList; let i = index"
        [title]="projectList[i].title"
        [path]="projectList[i].path"
        [type]="projectList[i].type"
        [img]="projectList[i].img"
        [url]="projectList[i].url"
        [github]="projectList[i].github"
        [i]="i"
    ></app-projects>
</section>